/* Sidenav for Docs
-------------------------------------------------- */

/* highlite the list item by add class="active" */
.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}


.bs-docs-sidenav {
  width: 100%;
  margin: 0px 10px 10px 0px;/* leave a space from top/bottom*/
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li > a {
    font-size: 21px; /* make the text bigger */
  	display: block;
  	/*width: 190px \9;
    /* height: 120px; height must exit, or float layout not workable */
  	margin: 0 0 -1px;
  	padding: 8px 14px;
  	border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

/* Chevrons */
.bs-docs-sidenav .glyphicon-chevron-right {
  float: right;
  margin-right: -6px;
  opacity: .5;
}

.bs-docs-sidenav a:hover .glyphicon-chevron-right {
  opacity: 1;
}

/* for business item */
.thumb {
  float: left;
  height: 80px;
  width: 80px;
}
.label-grid {
  margin-left: 90px; /* leave the thumb image space */
  /*border: 1px solid #cccccc;*/
  width: 75%;
  height: 80%;
}
.item-title {
  font-size: 20px;
}
.arrow-offset{
  margin-top: -54px;/* for business item */
}
.top-row {
  margin-top: -4px;
}
.bottom-row {
  margin-top: 30px;/* the gap from top row, make the item high by this value */
  font-size: 16px;
  color: #B0C4DE;
}

.bottom-right {
  float: right;
  margin-right: 14px;
  margin-top: 4px;
}
/* end of business item */

.baidu-map {
  width: 340px;
  height: 400px;
  margin-bottom: 30px;
}

.loading {
  margin-top: 30px;
  margin-bottom: 30px;
}

